{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title 'Начало' %}
{% block page_content %}
        <div class="container">
                <div class="row" style="text-align: center;">
                            <div class="card col-sm-4">
                                <div class="card-body">
                                    <h1><i class="fa fa-users"></i></h1>
                                    <h5 class="card-title mb-4"><strong>Клиенти</strong></h5>
                                    <h1 class="display-5 mt-1 mb-3">{{ customerAll.customer|length }}</h1>
                                    {# <div class="mb-1"> </div> #}
                                </div>
                            </div>
                            <div class="card col-sm-4">
                                <div class="card-body">
                                    <h1 style="font-size: 50px;"><i class="icon-4"></i></h1>
                                    <h5 class="card-title mb-4"><strong>Всички продажби</strong></h5>
                                    <h1 class="display-5 mt-1 mb-3">{{ findAllOrders.findAllOrders|length }}</h1>
                                </div>
                            </div>
                            <div class="card col-sm-4">
                                <div class="card-body">
                                    <h1 style="font-size: 50px;"><i class="icon-2"></i></h1>
                                    <h5 class="card-title mb-4"><strong>Продажби за деня</strong></h5>
                                    <h1 class="display-5 mt-1 mb-3">{{ findAllOrdersDay.findAllOrdersDay|length }}</h1>
                                </div>
                            </div>
                            <div class="card col-sm-4">
                                <div class="card-body">
                                    <h1><i class="fa fa-money"></i></h1>
                                    <h5 class="card-title mb-4"><strong>Приходи за деня</strong></h5>
                                    <h1 class="display-5 mt-1 mb-3">{{ findIncomesDay.findIncomeDay|number_format(2, '.', ',') }}
                                        лв</h1>
                                    <div class="mb-1"></div>
                                </div>
                            </div>
                            <div class="card col-sm-4">
                                <div class="card-body">
                                    <h1><i class="fa fa-money"></i></h1>
                                    <h5 class="card-title mb-4"><strong>Общи приходи</strong></h5>
                                    <h1 class="display-5 mt-1 mb-3">{{ findIncomes.findIncome|number_format(2, '.', ',') }}
                                        лв</h1>
                                    <div class="mb-1"></div>
                                </div>
                            </div>
                            <div class="card col-sm-4">
                                <div class="card-body">
                                    <h1><i class="fa fa-phone"></i></h1>
                                    <h5 class="card-title mb-4"><strong>Резервации</strong></h5>
                                    <h1 class="display-5 mt-1 mb-3">{{ reservations.allReservations|length }}</h1>
                                    <div class="mb-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card flex-fill w-100">
                <div class="card-header">

                    <h5 class="card-title mb-0">Движение</h5>
                </div>
                <div class="card-body py-3">
                    <div class="chart chart-sm">
                        <canvas id="chartjs-dashboard-line"></canvas>
                    </div>
                    <script>
                        $(function () {
                            var ctx = document.getElementById('chartjs-dashboard-line').getContext("2d");
                            var gradient = ctx.createLinearGradient(0, 0, 0, 225);
                            gradient.addColorStop(0, 'rgba(215, 227, 244, 1)');
                            gradient.addColorStop(1, 'rgba(215, 227, 244, 0)');
                            // Line chart
                            new Chart(document.getElementById("chartjs-dashboard-line"), {
                                type: 'line',
                                data: {
                                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                                    //labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                                    datasets: [{
                                        label: "Продажби (лв)",
                                        fill: true,
                                        backgroundColor: gradient,
                                        borderColor: window.theme.primary,
                                        data: [
                                            26115,
                                            152,
                                            1584,
                                            1892,
                                            1587,
                                            1923,
                                            2566,
                                            2448,
                                            2805,
                                            3438,
                                            2917,
                                            3327
                                        ]
                                    }]
                                },
                                // options: {
                                //     maintainAspectRatio: false,
                                //     legend: {
                                //         display: false
                                //     },
                                //     tooltips: {
                                //         intersect: false
                                //     },
                                //     hover: {
                                //         intersect: true
                                //     },
                                //     plugins: {
                                //         filler: {
                                //             propagate: false
                                //         }
                                //     },
                                //     scales: {
                                //         xAxes: [{
                                //             reverse: true,
                                //             gridLines: {
                                //                 color: "rgba(0,0,0,0.0)"
                                //             }
                                //         }],
                                //         yAxes: [{
                                //             ticks: {
                                //                 stepSize: 1000
                                //             },
                                //             display: true,
                                //             borderDash: [3, 3],
                                //             gridLines: {
                                //                 color: "rgba(0,0,0,0.0)"
                                //             }
                                //         }]
                                //     }
                                // }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    {# <div class="row"> #}
    {# <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3"> #}
    {# <div class="card flex-fill w-100"> #}
    {# <div class="card-header"> #}

    {# <h5 class="card-title mb-0">Browser Usage</h5> #}
    {# </div> #}
    {# <div class="card-body d-flex"> #}
    {# <div class="align-self-center w-100"> #}
    {# <div class="py-3"> #}
    {# <div class="chart chart-xs"> #}
    {# <canvas id="chartjs-dashboard-pie"></canvas> #}
    {# </div> #}
    {# </div> #}

    {# <table class="table mb-0"> #}
    {# <tbody> #}
    {# <tr> #}
    {# <td>Chrome</td> #}
    {# <td class="text-right">4306</td> #}
    {# </tr> #}
    {# <tr> #}
    {# <td>Firefox</td> #}
    {# <td class="text-right">3801</td> #}
    {# </tr> #}
    {# <tr> #}
    {# <td>IE</td> #}
    {# <td class="text-right">1689</td> #}
    {# </tr> #}
    {# </tbody> #}
    {# </table> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2"> #}
    {# <div class="card flex-fill w-100"> #}
    {# <div class="card-header"> #}

    {# <h5 class="card-title mb-0">Real-Time</h5> #}
    {# </div> #}
    {# <div class="card-body px-4"> #}
    {# <div id="world_map" style="height:350px;"></div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# <div class="col-12 col-md-6 col-xxl-3 d-flex order-1 order-xxl-1"> #}
    {# <div class="card flex-fill"> #}
    {# <div class="card-header"> #}

    {# <h5 class="card-title mb-0">Calendar</h5> #}
    {# </div> #}
    {# <div class="card-body d-flex"> #}
    {# <div class="align-self-center w-100"> #}
    {# <div class="chart"> #}
    {# <div id="datetimepicker-dashboard"></div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# <div class="row"> #}
    {# <div class="col-12 col-lg-8 col-xxl-9 d-flex"> #}
    {# <div class="card flex-fill"> #}
    {# <div class="card-header"> #}

    {# <h5 class="card-title mb-0">Latest Projects</h5> #}
    {# </div> #}
    {# <table class="table table-hover my-0"> #}
    {# <thead> #}
    {# <tr> #}
    {# <th>Name</th> #}
    {# <th class="d-none d-xl-table-cell">Start Date</th> #}
    {# <th class="d-none d-xl-table-cell">End Date</th> #}
    {# <th>Status</th> #}
    {# <th class="d-none d-md-table-cell">Assignee</th> #}
    {# </tr> #}
    {# </thead> #}
    {# <tbody> #}
    {# <tr> #}
    {# <td>Project Apollo</td> #}
    {# <td class="d-none d-xl-table-cell">01/01/2020</td> #}
    {# <td class="d-none d-xl-table-cell">31/06/2020</td> #}
    {# <td><span class="badge badge-success">Done</span></td> #}
    {# <td class="d-none d-md-table-cell">Vanessa Tucker</td> #}
    {# </tr> #}
    {# <tr> #}
    {# <td>Project Fireball</td> #}
    {# <td class="d-none d-xl-table-cell">01/01/2020</td> #}
    {# <td class="d-none d-xl-table-cell">31/06/2020</td> #}
    {# <td><span class="badge badge-danger">Cancelled</span></td> #}
    {# <td class="d-none d-md-table-cell">William Harris</td> #}
    {# </tr> #}
    {# <tr> #}
    {# <td>Project Hades</td> #}
    {# <td class="d-none d-xl-table-cell">01/01/2020</td> #}
    {# <td class="d-none d-xl-table-cell">31/06/2020</td> #}
    {# <td><span class="badge badge-success">Done</span></td> #}
    {# <td class="d-none d-md-table-cell">Sharon Lessman</td> #}
    {# </tr> #}
    {# <tr> #}
    {# <td>Project Nitro</td> #}
    {# <td class="d-none d-xl-table-cell">01/01/2020</td> #}
    {# <td class="d-none d-xl-table-cell">31/06/2020</td> #}
    {# <td><span class="badge badge-warning">In progress</span></td> #}
    {# <td class="d-none d-md-table-cell">Vanessa Tucker</td> #}
    {# </tr> #}
    {# <tr> #}
    {# <td>Project Phoenix</td> #}
    {# <td class="d-none d-xl-table-cell">01/01/2020</td> #}
    {# <td class="d-none d-xl-table-cell">31/06/2020</td> #}
    {# <td><span class="badge badge-success">Done</span></td> #}
    {# <td class="d-none d-md-table-cell">William Harris</td> #}
    {# </tr> #}
    {# <tr> #}
    {# <td>Project X</td> #}
    {# <td class="d-none d-xl-table-cell">01/01/2020</td> #}
    {# <td class="d-none d-xl-table-cell">31/06/2020</td> #}
    {# <td><span class="badge badge-success">Done</span></td> #}
    {# <td class="d-none d-md-table-cell">Sharon Lessman</td> #}
    {# </tr> #}
    {# <tr> #}
    {# <td>Project Romeo</td> #}
    {# <td class="d-none d-xl-table-cell">01/01/2020</td> #}
    {# <td class="d-none d-xl-table-cell">31/06/2020</td> #}
    {# <td><span class="badge badge-success">Done</span></td> #}
    {# <td class="d-none d-md-table-cell">Christina Mason</td> #}
    {# </tr> #}
    {# <tr> #}
    {# <td>Project Wombat</td> #}
    {# <td class="d-none d-xl-table-cell">01/01/2020</td> #}
    {# <td class="d-none d-xl-table-cell">31/06/2020</td> #}
    {# <td><span class="badge badge-warning">In progress</span></td> #}
    {# <td class="d-none d-md-table-cell">William Harris</td> #}
    {# </tr> #}
    {# </tbody> #}
    {# </table> #}
    {# </div> #}
    {# </div> #}
    {# <div class="col-12 col-lg-4 col-xxl-3 d-flex"> #}
    {# <div class="card flex-fill w-100"> #}
    {# <div class="card-header"> #}

    {# <h5 class="card-title mb-0">Monthly Sales</h5> #}
    {# </div> #}
    {# <div class="card-body d-flex w-100"> #}
    {# <div class="align-self-center chart chart-lg"> #}
    {# <canvas id="chartjs-dashboard-bar"></canvas> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
{% endblock %}
