<div class="tm-navbar" data-uk-sticky>
    <nav class="tm-navbar-container uk-flex uk-flex-space-between uk-margin-large-right">

        <!-- small logo -->
        <div class="tm-nav-logo-small">
            <a class="tm-logo-small" href="{{ path('app_home') }}">
                <img src="{{ asset('uploads/logo_site/'~ settings.findOneSettings.logoSite) }}" width="170" height="65" alt="demo">
            </a>
        </div>

        <div class="tm-nav uk-hidden-small">
            <ul class="uk-navbar-nav uk-hidden-small">
                <!-- home menu -->
                <li class="uk-parent" data-uk-dropdown><a href="{{ path('app_home') }}"><i class="uk-icon-home"></i></a></li>
                <!-- menu menu  -->
                <li class="uk-parent" data-uk-dropdown><a href="{{ path('app_menu') }}"><i class="uk-icon-cutlery"></i>Меню</a></li>
                <!-- Events menu -->
                <li><a href="{{ path('app_order_food') }}"><i class="uk-icon-shopping-basket"></i>Поръчай храна</a></li>
                <li><a href="{{ path('app_events') }}">Събития</a></li>
                <!-- Contact us menu -->
                <li><a href="{{ path('app_reservations') }}">Резервации</a></li>
                <li><a href="{{ path('app_contacts') }}">Контакти</a></li>
            </ul>
        </div>

        <!-- offcanvas nav icon -->
        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>

    </nav>
</div>

<!-- elements menu -->
{#<li class="uk-parent" data-uk-dropdown><a href="index.html#">Elements</a>#}
{#    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-3">#}
{#        <div class="uk-grid uk-dropdown-grid">#}

{#            <!-- first dropdown column -->#}
{#            <div class="uk-width-1-3">#}
{#                <ul class="uk-nav uk-nav-navbar">#}
{#                    <li><a href="index.html@page=elements-typography">Typography</a></li>#}
{#                    <li><a href="index.html@page=elements-column-blocks">Column Blocks</a></li>#}
{#                    <li><a href="index.html@page=elements-buttons">Buttons</a></li>#}
{#                    <li><a href="index.html@page=elements-dropdowns">Dropdowns</a></li>#}
{#                    <li><a href="index.html@page=elements-alerts">Alerts &amp; Badges</a></li>#}
{#                    <li><a href="index.html@page=elements-panels">Panels</a></li>#}
{#                    <li><a href="index.html@page=elements-accordion">Accordion &amp; Toggles</a></li>#}
{#                    <li><a href="index.html@page=elements-tooltips">Tooltips</a></li>#}
{#                </ul>#}
{#            </div>#}

{#            <!-- second dropdown column -->#}
{#            <div class="uk-width-1-3">#}
{#                <ul class="uk-nav uk-nav-navbar">#}
{#                    <li><a href="index.html@page=elements-progress">Progress Bar</a></li>#}
{#                    <li><a href="index.html@page=elements-tabs">Tabs</a></li>#}
{#                    <li><a href="index.html@page=elements-tables">Tables</a></li>#}
{#                    <li><a href="index.html@page=elements-images">Images</a></li>#}
{#                    <li><a href="index.html@page=elements-modal-box">Modal Box</a></li>#}
{#                    <li><a href="index.html@page=elements-lightbox">Lightbox</a></li>#}
{#                    <li><a href="index.html@page=elements-slideshow">Slideshow</a></li>#}
{#                    <li><a href="index.html@page=elements-dynamic-grid">Dynamic Grid</a></li>#}
{#                </ul>#}
{#            </div>#}

{#            <!-- third dropdown column -->#}
{#            <div class="uk-width-1-3">#}
{#                <ul class="uk-nav uk-nav-navbar">#}
{#                    <li><a href="index.html@page=elements-animation">Animation</a></li>#}
{#                    <li><a href="index.html@page=elements-menus">Menus</a></li>#}
{#                    <li><a href="index.html@page=elements-slider">Slider</a></li>#}
{#                    <li><a href="index.html@page=elements-parallax">Parallax</a></li>#}
{#                    <li><a href="index.html@page=elements-icons">Icons</a></li>#}
{#                    <li><a href="index.html@page=elements-cards">Cards</a></li>#}
{#                    <li><a href="index.html@page=elements-audio-video">Audio/Video</a></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</li>#}
<!-- features menu -->
{#<li class="uk-parent" data-uk-dropdown><a href="index.html#">Theme</a>#}
{#    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">#}
{#        <div class="uk-grid uk-dropdown-grid">#}
{#            <div class="uk-width-1-1">#}
{#                <ul class="uk-nav uk-nav-navbar">#}
{#                    <li><a href="index.html@page=module-layouts">Module Layouts</a></li>#}
{#                    <li class="uk-parent"><a href="index.html#">Page Layouts</a>#}
{#                        <ul class="uk-nav-sub">#}
{#                            <li><a href="index.html@page=full-content">Full Content</a></li>#}
{#                            <li><a href="index.html@page=left-content">Left + Content</a></li>#}
{#                            <li><a href="index.html@page=content-right">Content + Right</a></li>#}
{#                            <li><a href="index.html@page=left-content-right">Left + Content + Right</a></li>#}
{#                            <li><a href="index.html@page=content-left-right">Content + Left + Right</a></li>#}
{#                            <li><a href="index.html@page=left-right-content">Left + Right + Content</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li><a href="index.html@page=uikit-elements">UIkit Elements</a></li>#}
{#                    <li><a href="index.html@page=color-styles">Color styles</a></li>#}
{#                    <li><a href="index.html@page=rtl-language-support&amp;direction=rtl">RTL Language Support</a></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</li>#}

{#<li class="uk-parent" data-uk-dropdown><a href="index.html#">Pages</a>#}
{#    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">#}
{#        <div class="uk-grid uk-dropdown-grid">#}
{#            <div class="uk-width-1-1">#}
{#                <ul class="uk-nav uk-nav-navbar">#}
{#                    <li><a href="index.html@page=about-us">About Us</a></li>#}
{#                    <li><a href="index.html@page=our-staff">Our Staff</a></li>#}
{#                    <li><a href="index.html@page=testimonials">Testimonials</a></li>#}
{#                    <li><a href="index.html@page=our-pricing">Our pricing</a></li>#}
{#                    <li class="uk-parent"><a href="index.html#">Gallery</a>#}
{#                        <ul class="uk-nav-sub">#}
{#                            <li><a href="index.html@page=3-column-gallery">3 Column Gallery</a></li>#}
{#                            <li><a href="index.html@page=4-column-gallery">4 Column Gallery</a></li>#}
{#                            <li><a href="index.html@page=portfolio-category">Portfolio Category</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li><a href="index.html@page=faqs">FAQs</a></li>#}
{#                    <li><a href="index.html@page=404">404 Error page</a></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</li>#}